.mp-control {
	min-height: 7.5rem;
	padding: 1px 15px;
	background: map-get($colors, mp-background);
	text-align: center;

	> .mp-control__actions {
		overflow: hidden;
		*zoom: 1;
		display: inline-block;
		margin: 8px auto 0 auto;
		padding-bottom: 3px;
	}
}

.mp-control__button {
	display: block;
	position: relative;
	float: left;
	width: $control-playbutton-size;
	height: $control-playbutton-size;
	margin: 0 7px;
	border-radius: 55px;
	border: 0;
	box-shadow: 0 2px 2px rgba(87, 89, 71, 0.4);
	opacity: 0.8;
	cursor: pointer;
	outline: none;
	background: rgba(187, 202, 196, 0.34); 

	&:hover {
		opacity: 1;
	}
	&:active {
		box-shadow: none;
	}
	&::before {
		position: absolute;
		top: 0;
	    bottom: 0;
	    right: 0;
	    width: 0px;
	    height: 0px;
	    margin: auto;
	    line-height: 0;
	    font-size: 20px;
    	color: $light_green;
	}

	&.icon-play::before {
		font-size: 25px;
    	top: 5px;
    	left: 3px;
	}

	&.icon-pause::before {
		top: 4px;
		font-size: 23px;
	}

	&.icon-backward::before {
		left : -2px;
	}

	&.icon-forward::before {
		left : 2px;
	}

	&.small {
		width: $control-prev-next-size;
    	height: $control-prev-next-size;
    	margin-top: 14px;
    	&::before {
      		font-size: 15px;
      		top: 2px;
    	}
	}
}

.mp-control__meta {
	width: 100%;
	padding: 4px;
	margin: 4px 0 6px 0;

	.mp-control__song_name {
		color: black;
		font-weight: 700;
		font-size: 14px;
	}

	.mp-control__song_artist {
		color: black;
		font-weight: 300;
		font-size: 14px;
	}

	.mp-control__filler {
		color: #757575;
		font-size: 12px;
		font-weight: 300;
		margin: 0 5px;
	}
}



